@media only screen and (max-width: 600px) {
    nav{
        display: none;
        position: absolute;
        background-color: #fff;
        flex-direction: column;
        width: 80%;
        right: 0;
        top: 0;
        justify-content: center;
        place-items: center;
        height: 100vh;
    }
    nav a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }
    .about{
        margin-bottom: 50px;
    }
    nav img{
        display: block;
        width: 100px;
        margin-bottom: 50px;
    }
    .closeIcon{
        position: absolute;
        top: 30px;
        right: 260px;
    }
    header{
        flex-direction: column;
        padding: 0 30px;
    }
    header input{
        border: 0;
        background-color: #d8d8d8;
    }
    .artworkCont2{
        width: 85%;
        height: 90%;
    }
    .artworkCont2 h1{
        font-size: 35px;
        width: 300px;
        line-height: 50px;
        font-weight: 500;
    }
    .artworkCont2 p{
        font-size: 16px;
    }

    .artworkCont{
        height: 890px;
        margin-top: 30px;
        width: 100%;
        background-position: center;
    }

    .deals{
        padding: 0;
        flex-direction: column;
        height: 650px;
    }
    .dealTxt{
        width: 80%;
        margin: 0;
        position: absolute;
        top: 300px;
    }

    .dealImgContainer{
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    footer{
        padding: 0 30px;
    }
    .footerCont{
        flex-direction: column;
        padding: 30px;
    }
    .name{
        font-size: 30px;
    }
    .listHolder{
        border-top: 1px solid #000;
        border-left: 0;
    }
    ul{
        padding: 0;
    }
    .menuIcon{
        display: block;
    }
}